body{
    text-align:center;
}
body .form_wrapper{
    width:400px;
    display:inline-block;
    background-color: #fff;
    border-radius: 5px;
    height: auto;
    padding: 15px 18px;
    margin: 5% auto;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
}
body .row{
    color:black;
    border-radius: 5px;
    height: auto;
    padding: 15px 18px;
    margin: 1% auto;
    margin-left: auto;
    margin-right: auto;
    background-color: lightseagreen;
    width:600px;
}
#msg{color:red}
span{
    color:blue;
    font-weight: 600;
}